body{
  background-color: #B2AA8E;
}

.header {
  padding: 40px;
  text-align: center;
  background: #222E50;
  color: #EFF1ED;
  font-size: 30px;
}

.column {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  height:200px;
  float: left;
  width: 32.95%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.colorOne{
  background-color: #A71930;
}

.colorTwo{
  background-color: #000000;
}

.colorThree{
  background-color: #A5ACAF;
}

.randomTeamButtonArea{
  text-align: center;
  margin-bottom:60px;
}

.randomTeamButton{
  font-size: 20px;
  background-color: #222E50;
  color:#EFF1ED;
  outline:none;
  padding:20px;
  border-radius: 5%;
}

.userInputArea{
  text-align: center;
  margin-top:30px;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-left: 30px;
}


input {
  outline: none;
  width: 400px;
  height: 50px;
  font-size: larger;
 }

 .submitAnswer{
  font-size: 20px;
  background-color: #222E50;
  color:#EFF1ED;
  outline:none;
  padding:20px;
  border-radius: 5%;
 }

 .submitArea{
   text-align: center;
 }

 .footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#222E50;
  color: #222E50;
  text-align: center;
 }